<main class="main">
    <div class="container">
        <div>
            <h1>Seja bem-vindo a Pokedex</h1>
            <p>Uma pokedex é um católogo de pokemons , que mostra todas as informações sobre eles, como tipo, altura, rotas de captura, evoluçoes e etc.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus consequatur consequuntur aperiam tenetur veritatis vitae assumenda pariatur natus. Recusandae eos labore, mollitia odit sit alias reprehenderit voluptas neque laborum blanditiis?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi quisquam, dicta ab nulla corporis ipsum deserunt dolores veritatis voluptas autem necessitatibus minus natus ut saepe numquam nesciunt aspernatur vel tenetur.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat, dignissimos consectetur. Quaerat facilis maxime eos reiciendis corrupti doloribus. Corporis eos quis dolor labore nihil temporibus tempora iure nemo delectus minus.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur expedita illo officia placeat corporis assumenda doloremque ipsa eveniet? Rerum eius sapiente, nemo aliquid animi natus at eveniet cumque delectus perferendis!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, a porro quo molestias reprehenderit culpa facere minima at ipsa ad eum voluptates exercitationem delectus dolores sed unde quidem obcaecati saepe.</p>
        </div>
        <div>
            <h2>
                Que tal fazer uma busca?
            </h2>
            <button mat-raised-button (click)="busca()" class="buscar">buscar</button>
        </div>

    </div>
</main>
