.card{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);
    border-top: 3px solid #3359ec;
    border-bottom: 3px solid #3359ec;
    cursor: pointer;
    transition: 0.8s;
    width: 250px;
}
.card:hover{
    transform:scale(1.1);
    padding: 10px;
}
.img{
    min-width: 90%;
    border-bottom: 1px solid blue;
    padding-bottom: 5px;
}
.img img{
    max-width: 80%px;
    height: 150px;
}
.tipos{    
    display: flex;
}

.tipos p{
    margin: 5px;
}

.footer{
    margin-top: 25px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer ul{
    list-style: none;
    margin:0;
    padding: 0;
    border: 2px solid red;
}
.footer div:last-child{
    display: flex;
    flex-direction: column;    
}