<mat-toolbar class="mat-elevation-z5  mat-toll" color="primary">
    <div class="container">
        <span>
            <a routerLink="/">
                <i class="material-icons v-midle">
                    home
                </i>
                Home
            </a>
        </span>
       <span>
        <a routerLink="/pokdex"> 
            <i class="material-icons v-midle">
                book
            </i>
            Pokedex
        </a>        
       </span>
    </div>
</mat-toolbar>